##################################
# Create an API key with your ExLibris Developer Network
#  -see here: https://developers.exlibrisgroup.com/

API_KEY = 'l7xx63b4aabaf9264e54a680923760dbfa94'


##################################
# Pick your preferred API endpoint
#  -America: https://api-na.hosted.exlibrisgroup.com 
#  -Europe: https://api-eu.hosted.exlibrisgroup.com 
#  -Asia Pacific: https://api-ap.hosted.exlibrisgroup.com

API_URL = 'https://api-na.hosted.exlibrisgroup.com/almaws/v1'


##################################
# Set your Library Name and Circulation Desk ID
#  -see here: https://developers.exlibrisgroup.com/alma/apis/xsd/rest_item_loan.xsd?tags=POST

LIB_NAME = 'GC'
CIRC_DESK = 'GRI Open S'
